{% extends "index.html" %}

{%block contenido%}
<h2> Crear Prestamos </h2>

<form method="POST"> 
    {% csrf_token %} 
    <label for="libro_id" name="libro">Libro: </label>
    <select type="text" id="libro_id" name="libro" required> <br/>
        <option value="">--Seleccionar Libro--</option>
        {% for libro in libros %}
            <option value="{{libro.id}}">{{libro.titulo}}</option>
        {% endfor %}
    </select>
      
    <label for="usuario_id" name="usuario">Usuario: </label>
    <select type="text" id="usuario_id" name="usuario" required> <br/>
        <option value="">--Seleccionar Usuario--</option>
        {% for usuario in usuarios %}
            <option value="{{usuario.id}}">{{usuario.username}}</option>
        {% endfor %}

    <label for="id_fecha_prestamo" name="fecha_prestamo">Fecha Prestamo: </label>
    <input type="date" id="id_fecha_prestamo" name="fecha_prestamo" value= "{{ fecha }} "required> <br/>

    <button type="submit">Crear </button>
</form>
{% endblock %}