{% extends "index.html" %}

{% block content %}

<!-- Préstamos -->
      <div class="col-md-6 col-lg-3">
        <div class="card shadow h-100">
          <div class="card-body text-center">
            <h5 class="card-title text-primary">📚 Préstamos</h5>
            <p class="card-text">Administra los préstamos de libros realizados por los estudiantes.</p>
            <a href="#" class="btn btn-outline-primary">Ver más</a>
          </div>
        </div>
      </div>

      <!-- Autores -->
      <div class="col-md-6 col-lg-3">
        <div class="card shadow h-100">
          <div class="card-body text-center">
            <h5 class="card-title text-success">✍️ Autores</h5>
            <p class="card-text">Consulta y gestiona la información de los autores registrados.</p>
            <a href="{% url 'lista_autores'%}" class="btn btn-outline-success">Ver más</a>
          </div>
        </div>
      </div>

      <!-- Multas -->
      <div class="col-md-6 col-lg-3">
        <div class="card shadow h-100">
          <div class="card-body text-center">
            <h5 class="card-title text-danger">💰 Multas</h5>
            <p class="card-text">Revisa las multas pendientes por retrasos en la devolución.</p>
            <a href="#" class="btn btn-outline-danger">Ver más</a>
          </div>
        </div>
      </div>

      <!-- Libros -->
      <div class="col-md-6 col-lg-3">
        <div class="card shadow h-100">
          <div class="card-body text-center">
            <h5 class="card-title text-warning">📖 Libros</h5>
            <p class="card-text">Explora el catálogo completo de libros disponibles en la biblioteca.</p>
            <a href="#" class="btn btn-outline-warning">Ver más</a>
          </div>
        </div>
      </div>

{% endblock %}